In [3]:
#Importing the datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('Train.csv',delimiter=',')
test_df=pd.read_csv('Test.csv',delimiter=',')

In [7]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [29]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Yes,0,No,Graduate,Male,5849,0.0,Male,360,1,Urban,Y
1,LP001003,Yes,0,No,Graduate,Male,4583,1508.0,128,360,1,Rural,N
2,LP001005,Yes,0,No,Graduate,Male,3000,0.0,66,360,1,Urban,Y
3,LP001006,Yes,0,No,Not Graduate,Male,2583,2358.0,120,360,1,Urban,Y
4,LP001008,Yes,0,No,Graduate,Male,6000,0.0,141,360,1,Urban,Y

In [31]:
test_df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [30]:
test_df.apply(lambda x: sum(x.isnull()), axis= 0)

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [15]:
#Check for missing values in the dataset
df.apply(lambda x: sum(x.isnull()), axis= 0)

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [42]:
df['LoanAmount'].fillna(value=146.0, inplace= True)
df['Loan_Amount_Term'].fillna(342.0,inplace= True)
df['Married'].fillna('Yes',inplace= True)
df['Credit_History'].fillna(1.0,inplace= True)
df['Self_Employed'].fillna('No',inplace= True)
#df['Gender'].fillna('Male',inplace= True)
df['Dependents'].fillna('0',inplace= True)

In [28]:
df.apply(lambda x: sum(x.isnull()), axis= 0)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [32]:
test_df['LoanAmount'].fillna(136, inplace= True)
test_df['Loan_Amount_Term'].fillna(342,inplace= True)
test_df['Credit_History'].fillna(1.0,inplace= True)
test_df['Self_Employed'].fillna('No',inplace= True)
test_df['Gender'].fillna('Male',inplace= True)
test_df['Dependents'].fillna('0',inplace= True)

In [34]:
test_df.apply(lambda x: sum(x.isnull()), axis= 0)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [43]:

df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Yes,0,No,Graduate,Male,5849,0.0,Male,360,1,Urban,Y
1,LP001003,Yes,0,No,Graduate,Male,4583,1508.0,128,360,1,Rural,N
2,LP001005,Yes,0,No,Graduate,Male,3000,0.0,66,360,1,Urban,Y
3,LP001006,Yes,0,No,Not Graduate,Male,2583,2358.0,120,360,1,Urban,Y
4,LP001008,Yes,0,No,Graduate,Male,6000,0.0,141,360,1,Urban,Y
5,LP001011,Yes,0,No,Graduate,Male,5417,4196.0,267,360,1,Urban,Y
6,LP001013,Yes,0,No,Not Graduate,Male,2333,1516.0,95,360,1,Urban,Y
7,LP001014,Yes,0,No,Graduate,Male,3036,2504.0,158,360,0,Semiurban,N
8,LP001018,Yes,0,No,Graduate,Male,4006,1526.0,168,360,1,Urban,Y
9,LP001020,Yes,0,No,Graduate,Male,12841,10968.0,349,360,1,Semiurban,N
10,LP001024,Yes,0,No,Graduate,Male,3200,700.0,70,360,1,Urban,Y
11,LP001027,Yes,0,No,Graduate,Male,2500,1840.0,109,360,1,Urban,Y
12,LP001028,Yes,0,No,Graduate,Male,3073,8106.0,200,360,1,Urban,Y
13,LP001029,Yes,0,No,Graduate,Male,1853,2840.0,114,360,1,Rural,N
14,LP001030,Yes,0,No,Graduate,Male,1299,1086.0,17,120,1,Urban,Y
15,LP001032,Yes,0,No,Graduate,Male,4950,0.0,125,360,1,Urban,Y
16,LP001034,Yes,0,No,Not Graduate,Male,3596,0.0,100,240,Male,Urban,Y
17,LP001036,Yes,0,No,Graduate,Male,3510,0.0,76,360,0,Urban,N
18,LP001038,Yes,0,No,Not Graduate,Male,4887,0.0,133,360,1,Rural,N
19,LP001041,Yes,0,No,Graduate,Male,2600,3500.0,115,Male,1,Urban,Y
20,LP001043,Yes,0,No,Not Graduate,Male,7660,0.0,104,360,0,Urban,N
21,LP001046,Yes,0,No,Graduate,Male,5955,5625.0,315,360,1,Urban,Y
22,LP001047,Yes,0,No,Not Graduate,Male,2600,1911.0,116,360,0,Semiurban,N
23,LP001050,Yes,0,No,Not Graduate,Male,3365,1917.0,112,360,0,Rural,N
24,LP001052,Yes,0,No,Graduate,Male,3717,2925.0,151,360,Male,Semiurban,N
25,LP001066,Yes,0,No,Graduate,Male,9560,0.0,191,360,1,Semiurban,Y
26,LP001068,Yes,0,No,Graduate,Male,2799,2253.0,122,360,1,Semiurban,Y
27,LP001073,Yes,0,No,Not Graduate,Male,4226,1040.0,110,360,1,Urban,Y
28,LP001086,Yes,0,No,Not Graduate,Male,1442,0.0,35,360,1,Urban,N
29,LP001087,Yes,0,No,Graduate,Male,3750,2083.0,120,360,1,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Yes,0,No,Graduate,Male,2787,1917.0,146,360,0,Rural,N
585,LP002912,Yes,0,No,Graduate,Male,4283,3000.0,172,84,1,Rural,N
586,LP002916,Yes,0,No,Graduate,Male,2297,1522.0,104,360,1,Urban,Y
587,LP002917,Yes,0,No,Not Graduate,Male,2165,0.0,70,360,1,Semiurban,Y
588,LP002925,Yes,0,No,Graduate,Male,4750,0.0,94,360,1,Semiurban,Y
589,LP002926,Yes,0,No,Graduate,Male,2726,0.0,106,360,0,Semiurban,N
590,LP002928,Yes,0,No,Graduate,Male,3000,3416.0,56,180,1,Semiurban,Y
591,LP002931,Yes,0,No,Graduate,Male,6000,0.0,205,240,1,Semiurban,N
592,LP002933,Yes,0,No,Graduate,Male,9357,0.0,292,360,1,Semiurban,Y
593,LP002936,Yes,0,No,Graduate,Male,3859,3300.0,142,180,1,Rural,Y
594,LP002938,Yes,0,No,Graduate,Male,16120,0.0,260,360,1,Urban,Y
595,LP002940,Yes,0,No,Not Graduate,Male,3833,0.0,110,360,1,Rural,Y
596,LP002941,Yes,0,No,Not Graduate,Male,6383,1000.0,187,360,1,Rural,N
597,LP002943,Yes,0,No,Graduate,Male,2987,0.0,88,360,0,Semiurban,N
598,LP002945,Yes,0,No,Graduate,Male,9963,0.0,180,360,1,Rural,Y
599,LP002948,Yes,0,No,Graduate,Male,5780,0.0,192,360,1,Urban,Y
600,LP002949,Yes,0,No,Graduate,Male,416,41667.0,350,180,Male,Urban,N
601,LP002950,Yes,0,No,Not Graduate,Male,2894,2792.0,155,360,1,Rural,Y
602,LP002953,Yes,0,No,Graduate,Male,5703,0.0,128,360,1,Urban,Y
603,LP002958,Yes,0,No,Graduate,Male,3676,4301.0,172,360,1,Rural,Y
604,LP002959,Yes,0,No,Graduate,Male,12000,0.0,496,360,1,Semiurban,Y
605,LP002960,Yes,0,No,Not Graduate,Male,2400,3800.0,Male,180,1,Urban,N
606,LP002961,Yes,0,No,Graduate,Male,3400,2500.0,173,360,1,Semiurban,Y
607,LP002964,Yes,0,No,Not Graduate,Male,3987,1411.0,157,360,1,Rural,Y
608,LP002974,Yes,0,No,Graduate,Male,3232,1950.0,108,360,1,Rural,Y
609,LP002978,Yes,0,No,Graduate,Male,2900,0.0,71,360,1,Rural,Y
610,LP002979,Yes,0,No,Graduate,Male,4106,0.0,40,180,1,Rural,Y
611,LP002983,Yes,0,No,Graduate,Male,8072,240.0,253,360,1,Urban,Y
612,LP002984,Yes,0,No,Graduate,Male,7583,0.0,187,360,1,Urban,Y
613,LP002990,Yes,0,No,Graduate,Male,4583,0.0,133,360,0,Semiurban,N